<div>
    <app-header title="Log-In" subTitle="Welcome to GoDrive"></app-header>
    <form action="" method="post">
        <div class="flex flex-col items-center pt-5 justify-center w-full">
            <app-form-input class="w-full flex justify-center" type="text" id="username" label="Username" icon="icons/user.svg"></app-form-input>
            <app-form-input class="w-full flex justify-center" type="password" id="password" label="Password" icon="icons/lock.svg"></app-form-input>
            <div class="p-4">
                <a [routerLink]="['/auth', 'forgot-password']" class="text-[#FF5C00] text-sm mt-3">Forgot Password?</a>
            </div>
            <app-button type="submit" class="w-full flex justify-center" name="Login"></app-button>
            <app-button color="other" type="submit" class="w-full flex justify-center mt-3" name="Guest"></app-button>
        </div>
    </form>
    <app-auth-switch [forgot]="false" [isLogin]="true"></app-auth-switch>
</div>
