<div class="w-full p-3">
    <div class="relative">
        <img class="w-full object-cover rounded-md" [src]="car.img" alt="">
        <button (click)="toggleLike()" class="absolute top-1 right-1 focus:outline-none border-white rounded-full p-1 bg-[rgba(0,0,0,0.5)] p-2">
            <svg *ngIf="!liked" class="w-5 h-5 text-white transition-all duration-300 scale-100" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M20.8 4.6a5.5 5.5 0 0 0-7.8 0L12 5.6l-1-1a5.5 5.5 0 0 0-7.8 7.8L12 21l8.8-8.8a5.5 5.5 0 0 0 0-7.8z"/>
            </svg>
            <svg *ngIf="liked" class="w-5 h-5 text-red-500 transition-all duration-300 transform scale-100 animate-pop" viewBox="0 0 24 24" fill="currentColor">
              <path d="M12 21l-1-1C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21z"/>
            </svg>
        </button>
    </div>
    
    <div class="flex mt-2 text-sm">
        <h2>{{car.make}}&nbsp;</h2>
        <h3>{{car.model}}</h3>
    </div>
    <div class="flex text-xs mt-1">
        <span>{{car.price}}€</span>
    </div>
</div>