<div class="relative w-full">
    <span class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">
      <img src="icons/search.svg" class="h-5 w-5 object-cover" alt="">
    </span>
    <input typ="text" class="border-1 border-[#E5E5E5] text-gray-600 text-sm w-full p-4 rounded-md pl-10 peer shadow-sm"
           placeholder=" " id="search">
    <label for="search"
           class="absolute left-10 top-0 transform -translate-y-1/2 text-gray-400 peer-placeholder-shown:top-1/2 
                  peer-placeholder-shown:-translate-y-1/2 peer-focus:top-0 peer-focus:-translate-y-1/2 
                  transition-all bg-[#F9FAFB] px-1">
      <span class="text-sm">Search for your car</span>
    </label>
</div>  