<div>
    <app-header title="Forgot Password" subTitle="reset your password"></app-header>
    <form action="" method="post">
        <div class="flex flex-col items-center pt-5 justify-center w-full">
            <app-form-input class="w-full flex justify-center" type="email" id="email" label="Email address" icon="icons/email.svg"></app-form-input>
            <div class="p-4"></div>
            <app-button type="submit" class="w-full flex justify-center" name="Send Mail"></app-button>
        </div>
    </form>
    <app-auth-switch [forgot]="true" [isLogin]="false"></app-auth-switch>
</div>
